* {
  text-align: center;
}

.exercise-card {
  /*border: 1px solid red;*/
  border-radius: 5px;
  flex-grow: 1;
  margin: 1em;
  max-width: 10%;
  width: 10%;
}

.exercise-card-img {
  background-color: blue;
  height: 0;
  padding-bottom: 56.25%;
  width: 100%;
}

.h3 {
  font-size: 16px;
}

.hideBtn {
  display: none;
}

.list-of-exercises {
  align-content: center;
  align-items: flex-start;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.thick-border {
  border: 5px solid orange;
}

.timer {
  font-size: 200px;
}